.red{
    color:red;
}
.blue{
    color:blue;
}
.teal{
    color:teal;
}
.light{
    color: antiquewhite;
}
.dark{
    color: midnightblue;
}
.yellow{
    color: yellow;
}
.green{
    color: green;
}
.grey{
    color: grey;
}